.app-main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &--admin {
    min-height: 100vh;
  }
}

app-footer {
  flex-shrink: 0;
}

body.hide-global-footer app-footer {
  display: none !important;
}
