<section class="hero">
  <div class="hero__inner">
    <div class="hero__decor" aria-hidden="true">
      <svg lucideLeaf class="hero__icon hero__icon--1 hero__icon--sage" [size]="40"></svg>
      <svg lucideCoffee class="hero__icon hero__icon--2 hero__icon--latte" [size]="34"></svg>
      <svg lucideSparkles class="hero__icon hero__icon--3 hero__icon--wheat" [size]="22"></svg>
      <svg lucideDroplet class="hero__icon hero__icon--4 hero__icon--blush" [size]="28"></svg>
      <svg lucideDessert class="hero__icon hero__icon--5 hero__icon--wheat" [size]="26"></svg>
      <svg lucideStar class="hero__icon hero__icon--6 hero__icon--white" [size]="18"></svg>
      <svg lucideHeart class="hero__icon hero__icon--7 hero__icon--blush" [size]="20"></svg>
      <svg lucideLeaf class="hero__icon hero__icon--8 hero__icon--latte" [size]="24"></svg>
    </div>

    <h1 class="hero__title">COMMUNITY</h1>

    <p class="hero__subtitle">
      Inspired by every brew. Connected by every cup.
    </p>
  </div>
</section>